{% extends "base.html.twig" %}

{% set title = "Error 404" %}

{% block content %}


<h1><i class="icon-exclamation-sign"></i> Error 404 &#150; Not Found</h1>

<div class="row">
    <div class="span8 offset4">
        <a class="btn btn-primary btn-large" href="{{ url('home') }}"><i class="icon-reply"></i> Zur&uuml;ck zur &Uuml;bersicht</a>
    </div>
</div>


{% endblock %}
