<div class="row">
    <h1>Betrieb hinzuf&uuml;gen</h1>
</div>
<div class="row">
    <h3>Allgemeines</h3>

    <legend>Name des Betriebes</legend>
    <input class="input-xxlarge" type="text" name="name" placeholder="Voller Name des Betriebs">

    <legend>Klassenvorraussetzungen</legend>
    <div class="row">
        <div class="input-prepend span3">
            <p><span class="add-on">Min.</span>
                <input id="min-class" type="text" placeholder="Mindestklasse"></p>
            <p><span class="add-on">Max.</span>
                <input id="max-class" type="text" placeholder="Maximale Klasse"></p>
        </div>
    </div>
    
    <legend>Mitarbeiter</legend>
    <div class="row">
        <div class="input-prepend span3">
            <p><span class="add-on">Min.</span>
                <input id="min-worker" type="text" placeholder="Mindestanzahl an Arbeitern"></p>
            <p><span class="add-on">Max.</span>
                <input id="max-worker" type="text" placeholder="Maximale Anzahl an Arbeitern"></p>
        </div>
    </div>
</div>

<div class="row">
    <legend>Betriebsleiter</legend>

    <p><button class="btn btn-success btn-add-leader"><i class="icon-plus"></i> Weiterer Betriebsleiter</button></p>

    <div class="betr-leaders">
        <div class="row-fluid betr-leader well">
            <div class="input-prepend span3">
                <span class="add-on">Vorname</span>
                <input id="appendedPrependedInput" type="text">
            </div>
            <div class="input-prepend span3">
                <span class="add-on">Nachname</span>
                <input id="appendedPrependedInput" type="text">
            </div>
            <div class="input-prepend span3">
                <span class="add-on">Klasse</span>
                <input id="appendedPrependedInput" type="text">
            </div>
        </div> 
    </div>
</div>

<div class="row">
    <h3>Betriebsbeschreibung</h3>

    <legend>Beschreibung des Betriebes</legend>

    <textarea name="betr-descr"><p>Diest ist eine Beispiel-Beschreibung f&uuml;r einen Betrieb.&nbsp;</p>
        <p>Unser Betrieb hat vor, folgendes herzustellen:</p>

        <ul>
                <li>Autoreifen</li>
                <li>Waffen</li>
                <li>Kalender</li>
                <li>Fotostudio</li>
        </ul>
    </textarea>
</div>

<div class="row">
    <h3>Sonstiges</h3>
    
    <legend>Zuteilungsregeln</legend>
    <p>Sind spezielle Zuteilungsregeln vorgesehen. Zum Beispiel: Brasilien-Betrieb: Nur Mitglieder der Brasilien AG dürfen in den Betrieb.</p>
    <p>Bitte ggf. unten beschrieben, sonst <em>LEER</em> lassen.</p>
    
    <textare name="assign-descr"></textare>
    
</div>

<div class="js-sources" style="display: none;">
    <div class="row-fluid betr-leader well">
        <div class="input-prepend span3">
            <span class="add-on">Vorname</span>
            <input id="appendedPrependedInput" type="text">
        </div>
        <div class="input-prepend span3">
            <span class="add-on">Nachname</span>
            <input id="appendedPrependedInput" type="text">
        </div>
        <div class="input-prepend span3">
            <span class="add-on">Klasse</span>
            <input id="appendedPrependedInput" type="text">
        </div>
    </div> 
</div>