{% extends 'base.html.twig' %}

{% block content %}
Soll der Betrieb wirklich gelöscht werden?
<form action="#" method="post">
    {{ form_widget(form) }}

    <input type="submit" name="submit" />
</form>

{% endblock %}