{% extends 'base.html.twig' %}

{% block content %}

<h1><i class="icon-cog"></i> SasCP &#150; &Uuml;bersicht</h1>

<div class="row">
    
    <!-- Companies -->
    <div class="span4">
        <h2><i class="icon-cogs"></i> Betriebe</h2>
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-header">Allgemeines</li>
            <li><a href="{{ url("list_companies") }}"><i class="icon-reorder"></i> Betriebe anzeigen</a></li>
           
            <li class="nav-header">Change and Add</li>
            <li><a href="{{ url("add_company") }}"><i class="icon-plus"></i>Betrieb hinzuf&uuml;gen</a></li>
        </ul>
    </div>
        
    <!-- Parties -->
    <div class="span4">
        <h2><i class="icon-group"></i> Parteien</h2>
         <ul class="nav nav-pills nav-stacked">
            <li class="nav-header">Allgemeines</li>
            <li><a href="#"><i class="icon-reorder"></i> Parteien anzeigen</a></li>
            
            <li class="nav-header">Change and Add</li>
            <li><a href="#"><i class="icon-plus"></i>Partei hinzuf&uuml;gen</a></li>
        </ul> 
    </div>
    <div class="span4">
        <h2><i class="icon-user"></i> Pupils</h2>
    </div>
</div>

{% endblock %}