{% macro activeNav(route) %}
    {% if (app.request.basePath ~ app.request.pathInfo) == (path(route)) %}
        {{ 'class="active"' | raw }}
    {% endif %}
{% endmacro %}

{% macro errorMsg(message) %}
    
{% endmacro %}

{% macro successMsg(message) %}
    <div class="alert alert-block alert-success fade">
        <a href="#" type="button" class="close" data-dismiss="alert">&times;</a>
        <h4>Success!</h4>
        {{ message | e }}
    </div>
{% endmacro %}

{% macro alertMsg(message) %}
    <div class="alert alert-block alert-error fade">
        <a href="#" type="button" class="close" data-dismiss="alert">&times;</a>
        <h4>Error!</h4>
        {{ message | e }}
    </div>
{% endmacro %}

{% macro warnMsg(message) %}
    <div class="alert alert-block alert-warning fade">
        <a href="#" type="button" class="close" data-dismiss="alert">&times;</a>
        <h4>Achtung!</h4>
        {{ message | e }}
    </div>
{% endmacro %}

{% macro datenschutz() %}
    <div class="alert alert-block alert-info noprint">
        <h4>Datenschutzrechtlicher Hinweis</h4>
        Diese Informationen d&uuml;rfen <strong>unter keinen Umst&auml;nden</strong> an Dritte weitergegeben werden!
    </div>
{% endmacro %}