{% extends 'base.default.html.twig' %}

{% block content %}
<div class="page-header">
    <h1><i class="icon-warning-sign"></i> Sicherheitsabfrage</h1>
</div>

<div class="row">
    <div class="span12">
        <p>Soll das Broadcast wirklich gelöscht werden?</p>

        <form method="post">
            <label class="checkbox">
                {{ form_widget(form.sure) }} Ja, ich bin mir sicher
            </label>
            {{ form_rest(form) }}    
            <p><button type="submit" name="submit" class="btn btn-primary"><i class="icon-trash"></i> Unwiderruflich löschen</button></p>
        </form>   
        </div>
    </div>
{% endblock %}