{% extends 'base.default.html.twig' %}

{% block content %}

<div class="page-header">
    <h1><i class="icon-question-sign"></i> {{company.getName()|e}}</h1>
</div>
{% include "company/company.details.raw.twig" %}

{% endblock %}