{% extends 'print/print.twig' %}

{% block additional_meta %}
    <strong>Datens&auml;tze:</strong> {{ companies | length }}<br>
    {% include('company/company.print.manager.meta.twig') %}
{% endblock %}


{% block content %}
    {% if app.request.get('layout') %}
        {% if app.request.get('layout') == 'print-list' %}
            {% include ('company/company.print.detail.list.twig') %}
        {% else %}
            {% for company in companies %}
                <h2>{{ company.name | e }}</h2>
                {% include ('company/company.print.manager.detail.twig') %}
                <div class="page-break"></div>
            {% endfor %}   
        {% endif %}
    {% else %}
        {% for company in companies %}
            <h2>{{ company.name | e }}</h2>
            {% include ('company/company.print.manager.detail.twig') %}
            <div class="page-break"></div>
        {% endfor %}
    {% endif %}
{% endblock %}